body {
  background-color: #673ab7;
}
.backGround {
  background-color: #212121;
  text-align: center;
}
.banner-Text {
  font-size: 40px;
  color: #fafafa !important;
}
.important-part {
  border: clear;
  position: fixed;
  top: 150px;
  left: 400px;
}

.output-box {
  width: 390px;
}
.footer {
  color: white;
}